[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = VinceDriesen
	email = vince.driesen@student.uhasselt.be
[credential]
	helper = "!f() { /app/.vscode-server/bin/65edc4939843c90c34d61f4ce11704f09d3e5cb6/node /tmp/vscode-remote-containers-f1579552-4223-4098-bd8c-966698a8162f.js git-credential-helper $*; }; f"
